<div
  class="modal fade"
  id="ticketFormModal"
  tabindex="-1"
  aria-labelledby="ticketFormModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-left" id="ticketFormModalLabel">
          Ticket Details
        </h5>
      </div>
      <div class="modal-body">
        <form @submit.prevent="submitForm">
          <div class="row">
            <!-- Category Dropdown -->
            <div class="form-group col-md-6 text-left-labels">
              <label for="category">Category</label>
              <div class="select-container" @click="toggleArrow('category')">
                <select v-model="category" class="form-control" id="category">
                  <option v-for="cat in categories" :key="cat" :value="cat">
                    {{ cat }}
                  </option>
                </select>
                <div v-if="!category" class="arrow-down"></div>
              </div>
            </div>
            <!-- Type Dropdown -->
            <div class="form-group col-md-6 text-left-labels">
              <label for="type">Type</label>
              <div class="select-container" @click="toggleArrow('type')">
                <select v-model="type" class="form-control" id="type">
                  <option v-for="t in currentTypes" :key="t" :value="t">
                    {{ t }}
                  </option>
                </select>
                <div v-if="!type.length" class="arrow-down"></div>
              </div>
            </div>
          </div>
          <!-- Subject Input -->
          <div class="form-group text-left-labels mt-3">
            <!-- Added margin-top for spacing -->
            <label for="subject">Subject</label>
            <input
              v-model="subject"
              id="subject"
              class="form-control"
              placeholder="Subject"
            />
          </div>
          <!-- Description Input -->
          <div class="form-group text-left-labels description-form-group">
            <label for="description">Description</label>
            <textarea
              v-model="description"
              id="description"
              class="form-control"
              placeholder="Description"
            ></textarea>
          </div>
          <!-- Files -->
          <div class="form-group text-left-container">
            <h6>Ticket Files & Documents</h6>
            <ul>
              <li v-for="(file, index) in files" :key="index">
                {{ file }}
                <img
                  src="/trash.svg"
                  alt="Trash Icon"
                  @click="removeFile(index)"
                  style="cursor: pointer; width: 20px; height: auto"
                />
              </li>
            </ul>
            <button @click.prevent="addFile" class="btn btn-outline-primary">
              + Attach File
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          @click.prevent="submitForm"
        >
          Submit Ticket
        </button>
      </div>
    </div>
  </div>
</div>
