<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
      <th>Files</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="ticket in tickets" :key="ticket.id">
      <td>{{ ticket.subject }}</td>
      <td>{{ ticket.description }}</td>
      <td>
        <span class="badge badge-warning rounded-pill d-inline"
          >{{ ticket.status }}</span
        >
      </td>
      <td>
        <ul v-if="ticket.files && ticket.files.length">
          <li v-for="file in ticket.files" :key="file.id">
            <a
              :href="`http://localhost:3500/files/${file.filename}`"
              target="_blank"
              >{{ file.filename }}</a
            >
          </li>
        </ul>
      </td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
