<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="ticket in tickets" :key="ticket.id">
      <td class="truncate">{{ truncateText(ticket.subject, 30) }}</td>
      <td class="truncate">{{ truncateText(ticket.description, 50) }}</td>
      <td>Pending for Review</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
